name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.12.0"

      - run: npm ci

      - run: npm run typecheck
      - run: npm run lint
      - run: npm test
      - run: npm run build
